<!-- Bind signInForm using formGroup directive -->
<form [formGroup]="signInForm">
  <h1>Reactive Form</h1>
  {{ signInForm.value | json }}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      formControlName="email"
    />
    <div id="emailHelp" class="form-text">
      We'll never share your email with anyone else.
    </div>
    <!-- Check if email form control has errors -->
    <div *ngIf="email?.invalid && email?.touched" class="alert alert-danger">
      <!-- Validation for required -->
      <div *ngIf="email?.errors?.['required']">Email is required</div>
      <!-- Validation for email -->
      <div *ngIf="email?.errors?.['email']">Email is not in correct format</div>
      <!-- minLength & maxLength -->
      <div *ngIf="email?.errors?.['minlength']">Minimum 5 characters</div>
      <div *ngIf="email?.errors?.['maxlength']">Maximum 50 characters</div>
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      formControlName="password"
    />
  </div>
  <div
    *ngIf="password?.invalid && password?.touched"
    class="alert alert-danger"
  >
    <div *ngIf="password?.errors?.['required']">Email is required</div>
    <div *ngIf="password?.errors?.['minlength']">Minimum 5 characters</div>
    <div *ngIf="password?.errors?.['prohibitedWord']">
      Password cannot contain "hack" in it.
    </div>
  </div>
  <div class="mb-3 form-check">
    <input
      type="checkbox"
      class="form-check-input"
      id="exampleCheck1"
      formControlName="subscribe"
    />
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button (click)="onSubmit()" type="submit" class="btn btn-primary">
    Submit
  </button>
</form>
